In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
path = r"C:\Users\Julius\Downloads\energydata_complete.csv"
df = pd.read_csv(path, parse_dates=True)
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [10]:

df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [95]:
#Normalising dataset to a common scale using the Min_Max Scale
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalized_df =  pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
x = df['T2'].values
y =df['T6'].values

x = x.reshape([-1,1])

In [81]:
#Time to split dataset into the training and the testing set.
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

x_train, x_test, y_train, y_test = train_test_split(x, y , test_size=0.3, random_state=42)

linear_model = LinearRegression()

In [82]:
#Fit my model to the training dataset
linear_model.fit(x_train, y_train)

LinearRegression()

In [83]:
#obtaining predicted values
predicted_value = linear_model.predict(x_test)

In [86]:
#R-squared value time
from sklearn.metrics import r2_score
r_sqrd = r2_score(y_test, predicted_value)
round(r_sqrd, 2 )

0.64

In [87]:
#Now is the time to calculate my Mean_Absolute_Error
from sklearn.metrics import mean_absolute_error
MAE = mean_absolute_error(y_test, predicted_value)
round(MAE, 2)

2.82

In [88]:
#Residual Sum of Square
RSS = np.sum(np.square(y_test - predicted_value))
round(RSS, 2)

78033.97

In [89]:
#Calculate Root Mean Squared Error repr as RMSE
from sklearn.metrics import mean_squared_error
RMSE = np.sqrt(mean_squared_error(y_test, predicted_value))
round(RMSE, 2)

3.63

In [92]:
#Ridge Regression
from sklearn.linear_model import Ridge
%matplotlib inline
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)
#Calculate Root Mean Squared Error repr as RMSE
from sklearn.metrics import mean_squared_error
RMSE = np.sqrt(mean_squared_error(y_test, predicted_value))
round(RMSE, 2)

3.63

In [93]:
#Lasso regression
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

In [98]:
#Normalising dataset to a common scale using the Min_Max Scale
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalized_df =  pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
target_var = normalized_df['Appliances']

In [99]:
#Time to split dataset into the training and the testing set.
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

x_train, x_test, y_train, y_test = train_test_split(normalized_df, target_var , test_size=0.3, random_state=42)

linear_model = LinearRegression()

In [100]:
#Fit my model to the training dataset
linear_model.fit(x_train, y_train)

LinearRegression()

In [101]:
#obtaining predicted values
predicted_value = linear_model.predict(x_test)

In [103]:
#Now is the time to calculate my Mean_Absolute_Error
from sklearn.metrics import mean_absolute_error
MAE = mean_absolute_error(y_test, predicted_value)
MAE

1.3935207081787437e-15

In [104]:
#Ridge Regression
from sklearn.linear_model import Ridge
%matplotlib inline
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.5)

In [106]:
#Lasso regression
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

In [108]:
#comparing the two regularisation
def get_weight_df(model, feat, col_name):
    #this returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weight_df = pd.DataFrame(weights).reset_index()
    weight_df.columns = ['Features', col_name]
    weight_df[col_name].round(3)
    return weight_df

linear_model_weight = get_weight_df(linear_model, x_train, 'Linear_Model_Weight')
ridge_weight_df = get_weight_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weight_df = get_weight_df(lasso_reg, x_train, 'Lasso_Reg_Weight')

#Merge work now
final_weight = pd.merge(linear_model_weight, ridge_weight_df, on='Features')
final_weight = pd.merge(final_weight, ridge_weight_df, on='Features')
round(final_weight,8)

       Features  Linear_Model_Weight  Ridge_Weight_x  Ridge_Weight_y
0          RH_2                 -0.0       -0.001818       -0.001818
1            T1                 -0.0       -0.000098       -0.000098
2            T7                 -0.0        0.000045        0.000045
3            T6                 -0.0        0.000967        0.000967
4            T2                 -0.0       -0.000879       -0.000879
5          RH_4                 -0.0        0.000110        0.000110
6          RH_8                 -0.0       -0.000710       -0.000710
7   Press_mm_hg                 -0.0        0.000030        0.000030
8    Visibility                 -0.0        0.000055        0.000055
9            T5                 -0.0       -0.000094       -0.000094
10         RH_6                 -0.0        0.000159        0.000159
11          rv1                 -0.0        0.000003        0.000003
12          rv2                 -0.0        0.000003        0.000003
13         RH_5                 -0.0        0.000073        0.000073
14         RH_3                  0.0        0.000431        0.000431
15    Tdewpoint                  0.0        0.000348        0.000348
16           T4                  0.0        0.000122        0.000122
17         RH_9                  0.0       -0.000189       -0.000189
18    Windspeed                  0.0        0.000138        0.000138
19           T3                  0.0        0.001303        0.001303
20           T9                  0.0       -0.000855       -0.000855
21         RH_1                  0.0        0.002321        0.002321
22       RH_out                  0.0       -0.000229       -0.000229
23           T8                  0.0        0.000457        0.000457
24        T_out                  0.0       -0.001137       -0.001137
25         RH_7                  0.0       -0.000210       -0.000210
26   Appliances                  1.0        0.995467        0.995467

In [109]:
#Now is the time to calculate my Mean_Absolute_Error
from sklearn.metrics import mean_absolute_error
MAE = mean_absolute_error(y_test, predicted_value)
MAE

1.3935207081787437e-15